# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# 仮想環境
.venv/
env/
venv/

# パッケージ関連
*.egg-info/
.eggs/
dist/
build/

# ==========================
# エディタ・IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS依存ファイル
# ==========================
.DS_Store
Thumbs.db

# ==========================
# ログや一時ファイル
# ==========================
*.log
*.tmp
